.DS_Store
*~
*.sw[p|o]
*.py[c|o]
*.py~
*.csv
*.db
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
examples/data/
dist/
build/
autofeat.egg-info/
MANIFEST.in
setup_old.py
pyproject.toml
