.DS_Store
*~
*.sw[p|o]
*.py[c|o]
*.py~
*.csv
*.db
*.sublime-project
*.sublime-workspace
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
examples/data/
dist/
build/
*.egg-info/
MANIFEST.in
pyrightconfig.json
poetry.lock
notebooks/profile_autofeat.py
notebooks/newtons_law_of_cooling.ipynb
notebooks/autofeat_reproducibility/*